<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Profile</title>
    <script src="//use.fontawesome.com/f1c470c43f.js"></script>
    <link rel="stylesheet" href="//use.fontawesome.com/f1c470c43f.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb"
        crossorigin="anonymous">
    <link href="//fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
    <script src="//code.jquery.com/jquery-1.9.1.js"></script>

    {{!-- bootstrap toogle --}}
    <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
    <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
</head>

<style>
    .container {
        margin: 10px;
    }
</style>

<body>
    <div class="container">
        <h1>Welcome {{name}} - {{id}}</h1>
        <hr>
        <h3>Settings</h3>
        <small id="emailHelp" class="form-text text-muted">General settings for home configuration</small>
                <br>
        <p>Bluetooth MAC address</p>

        <div style="display:none">
            <input type="text" form="registerform" name="profile_id" value="{{id}}">
            <input type="text" form="registerform" name="profile_name" value="{{name}}">
        </div>

        <input type="text" class="form-control form-control-sm" form="registerform" name="mac_address" value="{{userInfo.userInfo.mac_address}}">
        <br>
        <p>Home Address</p>
        <input type="text" class="form-control form-control-sm" form="registerform" name="home_address" value="{{userInfo.userInfo.home_address}}">
        <br>
        <p>Work Address</p>
        <input type="text" class="form-control form-control-sm" form="registerform" name="work_address" value="{{userInfo.userInfo.work_address}}">
        <br>


        <div class="row">
            <div class="col-6" style="border-right:1px solid #989898;height:500px">

                <h1>Events</h1>

                <br>
                <h3>Calendar</h3>
                <small id="emailHelp" class="form-text text-muted">Type the name of the calendar event that you wish to add an action.</small>
                <br>
                <form id="registerform">
                    <div class="form-group">
                        <input type="text" name="event_name" class="form-control" aria-describedby="emailHelp" placeholder="Event name" value="{{userInfo.settings.calendar_settings.event_name}}">

                    </div>
                    <hr>

                    <br>
                    <br>
                    <br>

                    <button type="submit" class="btn btn-primary">Save</button>
                </form>
            </div>

            <div class="col-6" style="padding-left: 10px">

                <h1>Action</h1>
                <br>
                <h3>Calendar</h3>
                <small id="emailHelp" class="form-text text-muted">Choose the action for the event</small>
                <br>
                <select class="custom-select" name="cal_action" form="registerform">
                    <option value="{{userInfo.settings.calendar_settings.cal_action}}">{{userInfo.settings.calendar_settings.cal_action}}</option>
                    <option value="Dim_light">Dim_light</option>
                    <option value="Increase_light">Increase_light</option>
                    <option value="Turn_off">Turn_off</option>
                </select>

                <hr>

                <h3>When Home</h3>
                <small id="emailHelp" class="form-text text-muted">Settings for when at home</small>
                <br>              
           
                <input form="registerform" type="color" name="color" value="{{userInfo.settings.is_home_settings.color}}">
                  <small id="emailHelp" class="form-text text-muted">Change the color </small>
                
                <br>
                <input form="registerform" type="range" name="brightness" min="0" max="40000" value="{{userInfo.settings.is_home_settings.brightness}}">


                <small id="emailHelp" class="form-text text-muted">Change the brightness </small>
                <hr>
            </div>
        </div>

    </div>

    <script>
        $(function () {
            var env_url = 'https://dd6da80a.ngrok.io';
            $("#registerform").on("submit", function (e) {
                var data = $(this).serialize();
                e.preventDefault();
                $.ajax({
                    url: env_url + '/settings',
                    type: 'POST',
                    data: data,
                    complete: function () {
                        //called when complete
                        console.log('process complete');
                    },
                    success: function (data) {
                        console.log(data);
                        var myJSON = JSON.stringify(data);
                        alert(myJSON);
                        console.log('process sucess');
                    },
                    error: function () {
                        console.log('process error');
                    },
                });
            });
        });
    </script>

</body>

</html>